<mat-card class="auth-card">
  <mat-card-title>Forgot password</mat-card-title>
  <mat-card-content>
    <form
      *ngIf="!isSubmitted"
      [formGroup]="form"
      novalidate
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="formControls.email.errors?.required">
          Email is required
        </mat-error>
        <mat-error
          *ngIf="
            formControls.email.errors?.email ||
            formControls.email.errors?.pattern
          "
        >
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <div class="form-buttons">
        <button
          mat-raised-button
          type="submit"
          [disabled]="form.invalid"
          class="loading-button dark-button"
        >
          <span [class.loading-button__text]="isLoading">Submit</span>
          <div class="loading-button__spinner" *ngIf="isLoading">
            <mat-spinner
              diameter="25"
              color="accent"
              strokeWidth="3"
            ></mat-spinner>
          </div>
        </button>
        <a
          mat-button
          class="light-button"
          [routerLink]="['../login']"
          [disabled]="isLoading"
          >Cancel</a
        >
      </div>
    </form>

    <div *ngIf="isSubmitted" class="submitted-message">
      <div class="submitted-message__text">
        <p>
          We sent a message to<b
            ><i>{{ formControls["email"].value }}</i></b
          >. Please check your email for password reset instructions
        </p>
      </div>
      <div class="submitted-message__buttons">
        <a
          mat-stroked-button
          class="repeat-request"
          (click)="isSubmitted = false"
        >
          Didn't you get the letter?
        </a>
        <a
          mat-button
          class="light-button"
          [routerLink]="['../login']"
          [disabled]="isLoading"
        >
          Back to login
        </a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
