<mat-card class="auth-card">
    <mat-card-title>Reset password</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" novalidate>

        <mat-form-field
          [class.invalid-form-field]="
            formControls.old_password.errors?.pattern && formControls.old_password.touched
          "
        >
          <mat-label>Former password</mat-label>
          <input
            matInput
            [type]="hideOldPassword ? 'password' : 'text'"
            formControlName="old_password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideOldPassword = !hideOldPassword"
            type="button"
          >
            <mat-icon>{{
              hideOldPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
          </button>
          <mat-error *ngIf="formControls.old_password.errors?.required">
            Password is required
          </mat-error>
          <mat-error *ngIf="formControls.old_password.errors?.pattern">
            Password must contain minimum six characters, at least one uppercase
            letter, one lowercase letter, and one number
          </mat-error>
        </mat-form-field>

        <mat-form-field
          [class.invalid-form-field]="
            formControls.new_password.errors?.pattern && formControls.new_password.touched
          "
        >
          <mat-label>New password</mat-label>
          <input
            matInput
            [type]="hideNewPassword ? 'password' : 'text'"
            formControlName="new_password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideNewPassword = !hideNewPassword"
            type="button"
          >
            <mat-icon>{{
              hideNewPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="formControls.new_password.errors?.required">
            Password is required
          </mat-error>
          <mat-error *ngIf="formControls.new_password.errors?.pattern">
            Password must contain minimum six characters, at least one uppercase
            letter, one lowercase letter, and one number
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            [type]="hideConfirmNewPassword ? 'password' : 'text'"
            formControlName="confirm_new_password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideConfirmNewPassword = !hideConfirmNewPassword"
            type="button"
          >
            <mat-icon>{{
              hideConfirmNewPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              form.hasError('mustMatch') &&
              formControls.confirm_new_password.errors?.mustMatch
            "
          >
            Passwords must match
          </mat-error>
        </mat-form-field>

        <div class="form-buttons">
          <button
            mat-raised-button
            class="dark-button"
            type="button"
            (click)="onSubmit()"
            [disabled]="form.invalid"
          >
            <span [class.loading-button__text]="isLoading">Reset</span>
            <div class="loading-button__spinner" *ngIf="isLoading">
              <mat-spinner
                diameter="25"
                color="accent"
                strokeWidth="3"
              ></mat-spinner>
            </div>
          </button>
          <a
            mat-button
            class="light-button"
            [routerLink]="['/profile']"
            [disabled]="isLoading"
            >Cancel</a
          >
        </div>
      </form>
    </mat-card-content>
  </mat-card>

