$text-color-primary: rgba(0, 0, 0, 0.6);
$text-color-dark: rgba(0, 0, 0, 0.8);
$text-color-light: rgb(255, 255, 255);

$color-primary: rgb(122,185,255);
$color-error: #f73554;
$color-success: #69f0ae;
$color-accent: #46a35e;
$color-accent-light: #00e796;
$color-white: #ffffff;

$background-color: #f5f5f5;
$background-light: #ffff;

$field-background: rgb(122,185,255);
$field-gradient: linear-gradient(90deg, rgba(122,185,255,1) 0%, rgba(255,253,134,1) 100%);
